* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(0, 255, 47);
    border-bottom: solid black;
}
.tab {
    padding: 10px;
    text-decoration: none;
    font-size: 30px;
    border-right: solid black;

}
.tab:hover{
    background-color: red;
}
.currentUser{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px;

}
nav{
    display: flex;
    color: red;
    background-color: yellow;
}

@media (max-width:1200px){
    .header{flex-direction: column;}
    nav{flex-direction: column;}
    .tab{width: 100%;
    }
    
}
main{
    display: flex;
    flex-direction: column;

}

